<div class="container-fluid" id="Home">

  <app-nav></app-nav>

<!--Contenido del bloque 1-->
  <div class="row cont-home">
    <div class="col-sm-12">
        <div id="home">
          <div class="title-home">
            <h4 class="title-1">Deliverys en Ayacucho Al instante!</h4>
            <p class="title-2">Descarga la App</p>
          </div>
            
            <div id="cont-apps">
              <div class="apps">
                <a href="" target="none"><img src="./assets/img/group-34.png" class="img-responsive center-block img-lefts"></a>
              </div>
              <div class="apps">
                <a href="https://play.google.com/store/apps/details?id=com.verbosetech.toke&hl=es" target="none"><img src="./assets/img/group-35.png" class="img-responsive center-block img-rights"></a>
              </div>
            </div>
          </div>
    </div>
  </div>





<!--Contenido del bloque 2-->
  <div class="row cont-entregamos" id="Entregamos" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
    <div class="col-sm-8">
      <div class="entregamos-1">
        <h4 class="title-entregamos">Lo que pidas lo entregamos en 1 toke</h4>

        <div id="cont-descripcion">
          <div>
            <div class="circulo-verde"></div>
          </div>
          <div class="descripcion">
            <p class="descrip-entregamos">1toke es una app de mensajería rápida y reparto a domicilio. 
            La particularidad de 1toke es que no solo reparte comida, entregamos y trasladamos cualquier 
            objeto que desees: un cargador, una bolsa de hielo, un paquete de libros, etc.</p>
          </div>
        </div>

        <div id="cont-descripcion">
          <div>
            <div class="circulo-morado"></div>
          </div>
          <div class="descripcion">
            <p class="descrip-entregamos">Con 1 toke puedes comprar un producto, pedir comida, recoger encargos 
              o enviarlos a otras personas donde estén: casa, trabajo o centro de estudios.</p>
          </div>
        </div>

        <div id="cont-descripcion">
          <div>
            <div class="circulo-anaranjado"></div>
          </div>
          <div class="descripcion">
            <p class="descrip-entregamos"><p class="descrip-entregamos">Descarga la app y empieza a pedir o 
            trasladar productos en todo Ayacucho. </p>
          </div>
        </div> 
      </div>
    </div>

    <div class="col-sm-4">
      <div class="entregamos-2">
        <img src="./assets/img/group-40.png" class="img-responsive center-block img-entregamos">
      </div>
    </div>
  </div>



<!--Contenido del bloque 3-->
  <div class="row cont-pedidos" id="Pedido" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
    <div class="col-sm-12">
      <h3 class="title-pedidos">Haz tus Pedidos!</h3>
    </div>

    <div class="col-sm-6" style="margin-top: 2%;">
      <div id="cont-pedidos">
        <div>
          <div class="circulo-blanco"></div>
        </div>
        <div class="pedidos">
          <p class="descrip-pedidos">Hacer pedidos en 1toke es sencillo, tienes opciones de pedidos como comida, bebidas,
          mercados, farmacias, mandar algo y más.</p> 
        </div>
      </div> 
    </div>

    <div class="col-sm-6" style="margin-top: 2%;">
      <div id="cont-pedidos">
        <div>
          <div class="circulo-blanco"></div>
        </div>
        <div class="pedidos">
          <p class="descrip-pedidos">Selecciona la opción que desees, busca entre los productos que te 
          interesen, selecciónalos y listo.</p> 
        </div>
      </div> 
    </div>

    <div class="col-sm-12">
      <div id="cont-imagenes">
        <div class="imagenes">
          <p class="title-img">Recoger y enviar</p>
          <img src="./assets/img/group-32.png" class="img-responsive center-block img-enviar">
        </div>
        <div class="imagenes">
          <p class="title-img">Comidas</p>
          <img src="./assets/img/group-8.png" style="position: relative;bottom: -40px;" class="img-responsive center-block img-comida">
        </div>
        <div class="imagenes">
          <p class="title-img">Mercados</p>
          <img src="./assets/img/group-11.png" class="img-responsive center-block img-mercado">
        </div>
        <div class="imagenes">
          <p class="title-img">Regalos</p>
          <img src="./assets/img/group-6.png" class="img-responsive center-block img-regalo">
        </div>
        <div class="Imagenes">
          <p class="title-img">Bebidas</p>
          <img src="./assets/img/group-7.png" class="img-responsive center-block img-bebida">
        </div>
      </div>
    </div>

  </div>


<!--Contenido del bloque 4-->
  <div class="row cont-pagos" id="Pagos" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
    <div class="col-sm-6 col-sm-push-6">
      <div class="pagos">
        <h4 class="title-pagos">Realiza tus Pagos</h4>
    
        <div id="cont-pagos">
          <div>
            <div class="circulo-verde"></div>
          </div>
          <div class="descripcion-pagos">
            <p class="descrip-pagos">Cuando hayas terminado de seleccionar los productos que quieras
            recibir o enviar, la app te mostrará el precio del producto + el costo de envío (en caso
            de recoger/enviar un encargo personal solo te costará el envío).</p>
          </div>
        </div>
    
        <div id="cont-pagos">
          <div>
            <div class="circulo-morado"></div>
          </div>
          <div class="descripcion">
            <p class="descrip-pagos">Pago contra entrega ya sea en efectivo o con tarjeta de crédito.</p>
          </div>
        </div>
    
        <div id="cont-pagos">
          <div>
            <div class="circulo-anaranjado"></div>
          </div>
          <div class="descripcion">
            <p class="descrip-pagos">¡Eso es todo! Los envíos llegarán en un periodo de 30 minutos.
            Más o menos dependiendo de la distancia.</p>
          </div>
        </div>
    
      </div>
    </div>
  
    <div class="col-sm-6 col-sm-pull-6">
      <div>
        <img src="./assets/img/group-17.png" class="img-responsive center-block img-pagos" width="500">
      </div>
    </div>

  </div>


<!--Contenido del bloque 5-->
  <div class="row cont-reparto" id="Reparto" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0"> 
    <div class="col-sm-6">
      <div id="reparto-1">
        <h4 class="title-reparto">Repartos exclusivos en todo Ayacucho</h4>
      </div>
    </div>

    <div class="col-sm-6">
      <div id="reparto-2">
        <p class="descrip-reparto">¿Vives o trabajas en Ayacucho? Entonces 1toke es para ti. Esta 
        app nace en Ayacucho para el beneficio de todos los viven o trabajan
        aquí. Conocemos muy bien la zona y tus productos se entregarán a la 
        brevedad con el mejor de los cuidados. </p>
      </div>
    </div>
  </div>


<!--Contenido del bloque 6-->
  <div class="row cont-consultas" id="Consulta" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
    <div class="col-sm-6 consulta">
      <div class="borde-consulta">
        <div id="consulta-1">
          <h4 class="title-consultas">Consultas o sugerencias en nuestro formulario.</h4>
        </div>
        <div class="cont-contacto">
          <p class="contacto">Contáctos</p>
          <p class="correo">1tokeperu@gmail.com</p>
          <p class="numbers">066 – 288564<br>929 055 311</p>
        </div>
        <img src="./assets/img/group-21.png" class="img-responsive center-block img-contacto" width="230">
      </div>
    </div>

    <div class="col-sm-6">
      <div id="borde-form">
        <div id="cont-formulario">
          <form method="POST" #userForm="ngForm">
            <div class="form-row">
              <div class="form-group">
                <input type="text" name="inombre" ng-model="nombre" class="form-control" placeholder="Nombre" required>
                
              </div>
              <div class="form-group">
                <input type="email" name="icorreo" ng-model="correo" class="form-control" placeholder="Correo electronico" required>
                  
              </div>
              <div class="form-group">
                <textarea name="imensaje" ng-model="mensaje" class="form-control" placeholder="Consulta o Sugerencia" required></textarea>
                  
              </div>
              <div class="form-group">
                <button type="button" class="btn-info" click="datos()" >Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>



<!--Contenido del bloque 7-->
  <div class="row cont-aplicaciones" id="Aplicaciones" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="0">
    <div class="col-sm-12">
      <div id="aplicaciones">
        <img src="./assets/img/group-copy.png" class="img-responsive center-block img-toke">
        <h3 class="title-aplic">No esperes más y descarga 1toke ahora mismo.</h3>
        <div id="cont-app">
          <div class="cont-app">
            <a href=""><img src="./assets/img/group-34.png" class="img-responsive center-block img-lefts"></a>
          </div>
          <div class="cont-app">
            <a href="https://play.google.com/store/apps/details?id=com.verbosetech.toke&hl=es" target="none"><img src="./assets/img/group-35.png" class="img-responsive center-block img-rights"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--Contenido del bloque 8-->
  <div class="row cont-copyright">
    <div id="cont-copyright">
      <p class="title-copyright">Copyright ©2019  Todos los derechos reservados para 1toke - diseñado
        por IteamDevs.</p>
    </div>
  </div>






</div>

