/*Contenido del bloque 1 */
.cont-home{
    background-image: url('/assets/img/group-42.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}
#home{
    margin-top: 6%;
    margin-bottom: 32%;
}
.title-home{
    padding-top: 0%;
    width: 55%;
    margin: auto;
}
.title-1{
    font-family: 'ProductSans', sans-serif;
	font-size: 60px;
	color: #ffffff;
	text-align: center;
    font-weight: 500;
    letter-spacing: 2.1px;
    line-height: 88px;
}
.title-2{
    font-family: 'ProductSans', sans-serif;
	font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 5%;
}
/*-------------APLICACIONES---------------*/
#cont-apps{
	display:flex;
    margin-bottom: 5%;
}
.apps{
	width: 50%;
	margin: 0% 0.8%;
}
.img-lefts{
	float: right;
}
.img-rights{
	float: left;
}

/*Contenido del bloque 2 */
#cont-descripcion{
    display: flex;
    width: 66%;
}
.circulo-verde{
    width: 15px;
    height: 15px;
    background-color: #69ce50;
    border-radius: 50%;
    margin-top: 25%;
}
.circulo-morado{
    width: 15px;
    height: 15px;
    background-color: #7550ce;
    border-radius: 50%;
    margin-top: 20%;
}
.circulo-anaranjado{
    width: 15px;
    height: 15px;
    background-color: #ce8750;
    border-radius: 50%;
    margin-top: 97%;
}
.entregamos-1{
    margin-top: 6%;
    margin-bottom: 4%;
    margin-left: 10%;
}
.entregamos-2{
    margin-top: 5%;
    margin-bottom: 5%;
}
.title-entregamos{
    font-family: 'ProductSans', sans-serif;
    font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-align: justify;
    margin-bottom: 5%;
}
.descripcion{
    margin-left: 2%;
}
.descrip-entregamos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #23919b;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}

/*Contenido del bloque 3 */
.cont-pedidos{
    background-image: url('/assets/img/group-43.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    padding-top: 2%;
    padding-bottom: 5%;
}
.title-pedidos{
    font-family: 'ProductSans', sans-serif;
	font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.7px;
	text-align: center;
}
#cont-pedidos{
    display: flex;
    width: 74%;
    margin: auto;
}
.circulo-blanco{
    width: 14px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 16%;
}
.pedidos{
    margin-left: 2%;
}
.descrip-pedidos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
    letter-spacing: 0.7px;
}
#cont-imagenes{
    display:flex;
    width: 80%;
    margin: auto;
}
.imagenes{
    Width: 20%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 208px;
    top: 45px;
}
.title-img{
    font-family: 'ProductSans', sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15%;
}


/*Contenido del bloque 4 */
.img-pagos{
    width: 420px;
}
.pagos{
    margin-top: 6%;
}
#cont-pagos{
    display: flex;
    width: 78%;
}
.title-pagos{
    font-family: 'ProductSans', sans-serif;
    font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 1.7px;
    text-align: justify;
    margin-bottom: 5%;
}
.descripcion-pagos{
    margin-left: 2%;
}
.descrip-pagos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #6e6e6e;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}


/*Contenido del bloque 5 */
.cont-reparto{
    background-color: #50c4ce;
    padding-top: 4%;
    padding-bottom: 3%;
}
#reparto-1{
    width: 70%;
    margin: auto;
}
#reparto-2{
    width: 81%;
}
.title-reparto{
    font-family: 'ProductSans', sans-serif;
    font-size: 45px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.7px;
    text-align: justify;
}
.descrip-reparto{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}

/*Contenido del bloque 6 */
.borde-consulta{
    margin-top: 6%;
}
.cont-consultas{
    background-color: #f4f4f4;
}
#consulta-1{
    width: 60%;
    margin: auto;
    padding-bottom: 2%;
}
.title-consultas{
    font-family: 'ProductSans', sans-serif;
    font-size: 35px;
    color: #23919b;
    font-weight: 500;
    text-align: justify;
}
.cont-contacto{
    margin: auto;
}
.contacto{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #23919b;
    text-align: center;
}
.correo{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #74b7bd;
    text-align: center;
}
.numbers{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #23919b;
    text-align: center;
    margin-bottom: 3%;
}
.img-contacto{
    margin-left: 28%;
}
/*----FORMULARIO----*/
#borde-form{
    border-left: 2px solid #50c4ce;
    margin-top: 9%;
    margin-bottom: 7%;
}
#cont-formulario{
    width: 60%;
    margin: auto;
}
.form-control{
    font-size: 18px!important;
    margin-bottom: 16px!important;
}
label{
    font-size: 18px;
}
input{
    height: 50px;
    border-radius: 0px!important;
    border-left: 3px solid #00afb5;
}
input::placeholder, textarea::placeholder{
    font-family: 'ProductSans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #cacad5;
}
textarea{
    height: 225px!important;
    border-left: 3px solid #00afb5;
 }
 .btn-info{
    width: 100%;
    height: 60px;
    background-color: #00afb5!important;
    padding: 1% 2%!important;
    border: solid 1px #00afb5!important;
    border-radius: 0px!important;
    font-family: 'ProductSans', sans-serif;
    font-size: 20px!important;
    font-weight: bolder!important;
    color: #ffffff;
 }
 .btn-info:hover {
    color: #ffffff!important;
}


/*Contenido del bloque 7 */
.cont-aplicaciones{
	background-color: #ffffff;
	height: auto;
	padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.title-aplic{
	font-family: 'ProductSans', sans-serif;
	font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 0.7px;
	text-align: center;
}
#cont-app{
	display:flex;
	margin-top: 3%;
}
.cont-app{
	width: 50%;
	margin: 0% 0.5%;
}
.img-lefts{
	float: right;
}
.img-rights{
	float: left;
}


/*Contenido del bloque 8 */
.cont-copyright{
    background-color: #4a4a4a;
}
#cont-copyright{
    padding-top: 2%;
    padding-bottom: 1%;
}
.title-copyright{
    font-family: 'ProductSans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2.7px;
    text-align: center;
}

/*----------RESPONSIVE----------*/
/*----------RESPONSIVE----------*/
/*----------RESPONSIVE----------*/
@media screen and (max-width: 1200px){
    #home{
        margin-bottom: 29%;
    }
    #cont-descripcion{
        width: 78%;
    }
    .entregamos-1{
        margin-left: 8%;
        margin-top: 4%;
        margin-bottom: 3%;
    }
    .title-entregamos{
        font-size: 35px; 
    }
    .descrip-entregamos{
        font-size: 20px;
    }
    .entregamos-2{
        margin-top: 10%;
    }
    .cont-pedidos{
        padding-top: 3%;
        padding-bottom: 8%;
    }
    #cont-pedidos{
        width: 86%;
    }
    .title-pedidos{
        margin-bottom: 2%;
    }
    .descrip-pedidos{
        font-size: 20px;
    }
    .pedido{
        width: 85%; 
    }
    #cont-imagenes{
        width: 90%;
    }
    .imagenes{
        top: 70px;
    }
    .title-img{
        font-size: 24px;
    }
    #cont-pagos{
        width: 94%;
    }
    .img-pagos{
        width: 500px;
    }
    .pagos{
        margin-top: 8%;
    }
    .descrip-pagos{
        font-size: 20px;
    }
    .cont-reparto{
        padding-top: 4%;
    }
    #reparto-1{
        width: 77%;
        padding-top: 2%;
    }
    #reparto-2{
        width: 92%;
    }
    .descrip-reparto{
        font-size: 20px;
    }
    #consulta-1{
        width: 77%;
    }
    .title-consultas{
        font-size: 40px;
    }
    .contacto, .correo, .numbers{
        font-size: 20px;
    }
    #borde-form{
        margin-top: 11%;
    }
    #cont-formulario{
        width: 70%;
    }
}


@media screen and (max-width : 1024px){
    #home{
        margin-bottom: 26%;
    }
    .title-home{
        padding-top: 2%;
        width: 55%;
    }
    .title-1{
        font-size: 49px;
        line-height: 70px;
    }
    #cont-descripcion{
        width: 93%;
    }
    .entregamos-1{
        margin-left: 5%;
    }
    .title-entregamos{
        font-size: 34px;
    }
    .entregamos-2{
        margin-top: 15%;
    }
    #cont-pedidos{
        width: 90%;
    }
    .title-pedidos{
        margin-bottom: 3%;
    }
    .pedido{
        width: 99%; 
    }
    #cont-imagenes{
        width: 100%;
    }
    .imagenes{
        Width: 18%;
        top: 60px;
    }
    .title-img{
        font-size: 23px;
    }
    #cont-pagos{
        width: 96%;
    }
    .img-pagos{
        width: 480px;
    }
    #reparto-1{
        width: 87%;
        padding-top: 5%;
    }
    .title-reparto{
        font-size: 43px;
    }
    .title-consultas{
        font-size: 33px;
    }
    .img-contacto{
        margin-left: 25%;
    }
    #cont-formulario{
        width: 75%;
    }
    .cont-aplicaciones{
        padding-bottom: 3%;
    }
}


@media screen and (max-width : 990px){
    #home{
        margin-bottom: 28%;
    }
    .title-home{
        width: 57%;
        padding-top: 0%;
    }
    .entregamos-1{
        margin-left: 3%;
    }
    .title-entregamos{
        font-size: 33px;
    }
    #cont-descripcion{
        width: 90%;
    }
    .title-img{
        font-size: 22px;
    }
    .pagos{
        margin-top: 4%;
    }
    .img-pagos{
        width: 465px!important;
    }
    #reparto-1{
        padding-top: 6%;
    }
    .title-reparto{
        font-size: 41px;
    }
    .title-consultas{
        font-size: 32px;
    }
    .img-contacto{
        margin-left: 19%;
    }
    .title-aplic{
        font-size: 39px;
    }
}


@media  screen and (max-width : 768px){
    #home{
        margin-bottom: 27%;
    }
    .title-home{
        width: 59%;
    }
    .title-1{
        font-size: 35px;
        line-height: 50px;
    }
    .title-2{
        font-size: 25px;
        margin-top: 0%;
        margin-bottom: 4%;
    }
    .entregamos-1{
        margin-left: 2%;
    }
    #cont-descripcion{
        width: 100%;
    }
    .title-entregamos{
        font-size: 25px;
    }
    .descrip-entregamos{
        font-size: 15px;
    }
    .cont-pedidos{
        padding-bottom: 2%;
    }
    #cont-pedidos{
        width: 90%;
    }
    .descrip-pedidos{
        font-size: 17px;
    }
    #cont-imagenes{
        width: 95%;
    }
    .imagenes{
        width: 14%;
        top: 50px;
    }
    .title-img{
        font-size: 19px;
    }
    #cont-pagos{
        width: 97%;
    }
    .pagos{
        margin-top: 3%;
    }
    .title-pagos{
        font-size: 35px;
    }
    .descrip-pagos{
        font-size: 15px;
    }
    .title-reparto{
        font-size: 30px;
    }
    #reparto-2{
        width: 95%;
    }
    .descrip-reparto{
        font-size: 15px;
    }
    .cont-consultas{
        padding-bottom: 2%;
    }
    #consulta-1{
        width: 85%;
    }
    .title-consultas{
        font-size: 27px;
    }
    .contacto, .correo, .numbers{
        font-size: 16px;
    }
    .img-contacto{
        margin-left: 10%;
    }
    #cont-formulario{
        width: 84%;
    }
    .title-aplic{
        font-size: 30px;
    }
    .title-copyright{
        font-size: 11px;
    }
}


@media screen and (max-width : 525px){
    #home{
        margin-bottom: 22%;
    }
    .title-home{
        width: 71%;
        padding-top: 1%;
    }
    .title-1{
        font-size: 30px;
        line-height: 40px;
    }
    .title-2{
        font-size: 20px;
        margin-top: -2%;
        margin-bottom: 2%;
    }
    #cont-apps{
        width: 35%;
        margin: auto;
    }
    .cont-entregamos{
        padding-top: 6%;
        padding-bottom: 7%;
    }
    .entregamos-1{
        width: 95%;
        margin: auto;
    }
    .title-entregamos{
        font-size: 35px;
        text-align: center;
    }
    .descrip-entregamos{
        font-size: 20px;
    }
    .entregamos-2{
        width: 50%;
        margin: auto;
    }
    .cont-pedidos{
        padding-top: 4%;
        padding-bottom: 6%;
    }
    .title-pedidos{
        margin-bottom: 7%;
    }
    .pedido{
        width: 93%;
    }
    .descrip-pedidos{
        font-size: 20px;
    }
    #cont-imagenes{
        width: 100%;
    }
    .imagenes{
        width: 18%;
        top: 73px;
    }
    .title-img{
        font-size: 17px;
    }
    .cont-pagos{
        padding-top: 5%;
    }
    .img-pagos{
        width: 290px!important;
        margin-top: 3%;
    }
    .pagos{
        width: 97%;
        margin: auto;
        text-align: center;
    }
    .title-pagos{
        font-size: 39px;
        text-align: center;
    }
    .descrip-pagos{
        font-size: 20px;
    }
    #reparto-1{
        text-align: center;
        padding-top: 0%;
    }
    .title-reparto{
        text-align: center;
    }
    #reparto-2{
        padding-top: 5%;
        width: 90%;
        margin: auto;
    }
    .descrip-reparto{
        font-size: 20px;
    }
    .title-consultas{
        text-align: center
    }
    .contacto, .correo, .numbers{
        font-size: 20px;
    }
    .img-contacto{
        margin-left: 20%;
    } 
    #borde-form{
        border-left: 0px solid #50c4ce;
        margin-top: 5%;
    }
    .cont-aplicaciones{
        padding-top: 4%;
        padding-bottom: 2%;
    }
    .title-aplic{
        font-size: 28px;
    }
    #cont-app{
        margin-top: 4%;
    }
    .title-copyright{
        font-size: 11px;
    }
}


@media screen and (max-width: 450px){
    #home{
        margin-bottom: 24%;
    }
    .title-home{
        width: 80%;
    }
    .title-1{
        font-size: 26px;
        line-height: 33px;
    }
    .title-2{
        font-size: 16px;
        margin-top: -5%;
        margin-bottom: 1%;
    }
    #cont-apps{
        width: 34%;
    }
    .cont-entregamos{
        padding-top: 6%;
        padding-bottom: 7%;
    }
    .title-entregamos{
        font-size: 29px;
    }
    .descrip-entregamos{
        font-size: 19px;
    }
    .descrip-pedidos{
        font-size: 19px;
    }
    #cont-imagenes{
        width: 100%;
    }
    .imagenes{
        width: 18%;
        top: 73px;
    }
    .title-img{
        font-size: 17px;
    }
    .title-pagos{
        font-size: 34px;
    }
    .descrip-pagos{
        font-size: 19px;
    }
    .title-reparto{
        font-size: 34px;
    }
    .descrip-reparto{
        font-size: 19px;
    }
    .title-consultas{
        font-size: 32px;
    }
    .img-contacto{
        margin-left: 16%;
    }
    .cont-aplicaciones{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .title-copyright{
        font-size: 10px;
    }
}


@media screen and (max-width : 425px){
    #home{
        margin-bottom: 23%;
    }
    .title-home{
        padding-top: 1%;
    }
    .title-entregamos{
        font-size: 27px;
    }
    .descrip-entregamos{
        font-size: 18px;
    }

    .descrip-pedidos{
        font-size: 18px;
    }

    .descrip-pagos{
        font-size: 18px;
    }
    .descrip-reparto{
        font-size: 18px;
    }
    .title-consultas{
        font-size: 30px;
    }
    .contacto, .correo, .numbers{
        font-size: 18px;
    }
    #cont-formulario{
        width: 85%;
    }
    .title-aplic{
        font-size: 26px;
    }
    #cont-copyright{
        width: 90%;
        margin: auto;
    }
    .title-copyright{
        font-size: 10px;
    }
}


@media screen and (max-width : 375px){
    #home{
        margin-bottom: 23%;
    }
    .title-home{
        width: 90%;
    }
    .title-1{
        font-size: 26px;
        line-height: 31px;
    }
    .title-2{
        font-size: 16px;
        margin-top: -7%;
        margin-bottom: 0%;
    }
    .entregamos-1{
        width: 90%;
    }
    .title-entregamos{
        font-size: 29px;
        margin-bottom: 9%;
    }
    .descrip-entregamos{
        font-size: 17px;
    }
    .cont-pedidos{
        padding-top: 12%;
        padding-bottom: 33%;
    }
    .title-pedidos{
        font-size: 38px;
    }
    .descrip-pedidos{
        font-size: 17px;
    }
    #cont-pedidos{
        width: 93%;
    }
    .title-pedidos{
        font-size: 34px;
    }
    #cont-imagenes{
        display: block;
    }
    .title-img{
        font-size: 21px;
    }
    .imagenes{
        width: 70%;
        height: 178px;
        top: 35px;
        margin-bottom: 3%;
    }
    .img-enviar{
        margin-top: -9%;
        width: 90%;
    }
    .img-comida{
        margin-top: -20%;
        width: 91%;
    }
    .img-mercado{
        margin-top: -11%;
        width: 59%;
    }
    .img-regalo{
        margin-top: -10%;
        width: 65%;
    }
    .img-bebida{
        margin-top: -12%;
        width: 65%;
    }
    .cont-pagos{
        padding-top: 8%;
    }
    .pagos{
        width: 90%;
    }
    #cont-pagos{
        width: 100%;
    }
    .title-pagos{
        margin-bottom: 8%;
    }
    .descrip-pagos{
        font-size: 17px;
    }
    .img-pagos{
        width: 230px!important;
    }

    .title-reparto{
        font-size: 29px;
    }
    #consulta-1{
        width: 90%;
    }
    .borde-consulta{
        margin-top: 8%;
    }
    .title-consultas{
        font-size: 28px;
    }
    .descrip-reparto{
        font-size: 17px;
    }
    .contacto, .correo, .numbers{
        font-size: 17px;
    }
    .img-contacto{
        margin-left: 8%;
    }
    .title-aplic{
        font-size: 23px;
    }
    #cont-copyright{
        padding-top: 3%;
    }
    .title-copyright{
        font-size: 9px;
    }
}


@media screen and (max-width : 320px){
    #home{
        margin-bottom: 22%;
    }
    .title-home{
        width: 100%;
        padding-top: 0%;
    }
    .title-1{
        font-size: 24px;
        line-height: 29px;
    }
    .title-2{
        font-size: 16px;
        margin-top: -6%;
        margin-bottom: 1%;
    }
    .entregamos-1{
        width: 93%;
    }
    .title-entregamos{
        font-size: 24px;
    }
    #cont-apps{
        width: 30%;
    }
    .cont-pedidos{
        padding-top: 12%;
        padding-bottom: 38%;
    }
    #cont-pedidos{
        width: 93%;
    }
    .title-pedidos{
        font-size: 34px;
    }
    .title-img{
        font-size: 19px;
    }
    .imagenes{
        width: 60%;
        height: 150px;
    }
    .img-enviar{
        margin-top: -5%;
        width: 92%;
    }
    
    .img-mercado{
        margin-top: -8%;
        width: 62%;
    }
    .img-regalo{
        margin-top: -8%;
        width: 70%;
    }
    .img-bebida{
        margin-top: -8%;
        width: 67%;
    }
    .pagos{
        width: 93%;
    }
    .title-pagos{
        font-size: 29px;
    }
    #reparto-1{
        width: 93%
    }
    .title-reparto{
        font-size: 26px;
    }
    #reparto-2{
        width: 93%;
    }
    #consulta-1{
        width: 93%;
    }
    .title-consultas{
        font-size: 24px;
    }
    .img-contacto{
        margin-left: 0%;
    }
    #cont-formulario{
        width: 93%;
    }
    .cont-aplicaciones{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .title-aplic{
        font-size: 20px;
    }
    #cont-app{
        margin-top: 6%;
    }
    #cont-copyright{
        width: 93%;
        padding-top: 4%;
    }
    .title-copyright{
        font-size: 8px;
    }
}