/*Contenido del bloque 1 */
.cont-home{
    background-image: url('/assets/img/group-42.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}
#home{
    margin-top: 6%;
    margin-bottom: 33%;
}
.title-home{
    padding-top: 0%;
    width: 55%;
    margin: auto;
}
.title-1{
    font-family: 'ProductSans', sans-serif;
	font-size: 60px;
	color: #ffffff;
	text-align: center;
    font-weight: 500;
    letter-spacing: 2.1px;
    line-height: 88px;
}
.title-2{
    font-family: 'ProductSans', sans-serif;
	font-size: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 2%;
    margin-bottom: 4%;  
}
/*-------------APLICACIONES---------------*/
#cont-apps{
	display:flex;
    margin-bottom: 5%;
}
.apps{
	width: 50%;
	margin: 0% 0.8%;
}
.img-lefts{
    float: right;
    display: none;
}
.img-rights{
	float: left;
}

/*Contenido del bloque 2 */
.cont-entregamos{
    padding-top: 4%;
    padding-bottom: 4%;
}
#cont-descripcion{
    display: flex;
    width: 66%;
}
.circulo-verde{
    width: 15px;
    height: 15px;
    background-color: #69ce50;
    border-radius: 50%;
    margin-top: 25%;
}
.circulo-morado{
    width: 15px;
    height: 15px;
    background-color: #7550ce;
    border-radius: 50%;
    margin-top: 20%;
}
.circulo-anaranjado{
    width: 15px;
    height: 15px;
    background-color: #ce8750;
    border-radius: 50%;
    margin-top: 97%;
}
.entregamos-1{
    margin-left: 10%;
}
.title-entregamos{
    font-family: 'ProductSans', sans-serif;
    font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-align: justify;
    margin-bottom: 5%;
}
.descripcion{
    margin-left: 2%;
}
.descrip-entregamos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #23919b;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}
.entregamos-2{
    margin-top: 0%;
    margin-bottom: 0%;
}
.img-entregamos{
    width: 376px;
}
/*Contenido del bloque 3 */
.cont-pedidos{
    background-image: url('/assets/img/group-43.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    padding-top: 2%;
    padding-bottom: 5%;
}
.title-pedidos{
    font-family: 'ProductSans', sans-serif;
	font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.7px;
	text-align: center;
}
#cont-pedidos{
    display: flex;
    width: 74%;
    margin: auto;
}
.circulo-blanco{
    width: 14px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 16%;
}
.pedidos{
    margin-left: 2%;
}
.descrip-pedidos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
    letter-spacing: 0.7px;
}
#cont-imagenes{
    display:flex;
    width: 80%;
    margin: auto;
}
.imagenes{
    Width: 20%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 208px;
    top: 45px;
}
.Imagenes{
    Width: 20%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 208px;
    top: 45px;
}
.title-img{
    font-family: 'ProductSans', sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15%;
}
.imagenes:hover, .Imagenes:hover{
    transform:scale(1.1);
}

/*Contenido del bloque 4 */
.img-pagos{
    width: 400px;
}
.pagos{
    margin-top: 5%;
}
#cont-pagos{
    display: flex;
    width: 78%;
}
.title-pagos{
    font-family: 'ProductSans', sans-serif;
    font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 1.7px;
    text-align: justify;
    margin-bottom: 5%;
}
.descripcion-pagos{
    margin-left: 2%;
}
.descrip-pagos{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #6e6e6e;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}


/*Contenido del bloque 5 */
.cont-reparto{
    background-color: #50c4ce;
    padding-top: 4%;
    padding-bottom: 3%;
}
#reparto-1{
    width: 68%;
    margin: auto;
}
#reparto-2{
    width: 81%;
}
.title-reparto{
    font-family: 'ProductSans', sans-serif;
    font-size: 45px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.7px;
    text-align: justify;
}
.descrip-reparto{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: justify;
}

/*Contenido del bloque 6 */
.borde-consulta{
    margin-top: 6%;
}
.cont-consultas{
    background-color: #f4f4f4;
}
#consulta-1{
    width: 60%;
    margin: auto;
    padding-bottom: 2%;
}
.title-consultas{
    font-family: 'ProductSans', sans-serif;
    font-size: 35px;
    color: #23919b;
    font-weight: 500;
    text-align: justify;
}
.cont-contacto{
    margin: auto;
}
.contacto{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #23919b;
    text-align: center;
}
.correo{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #74b7bd;
    text-align: center;
}
.numbers{
    font-family: 'ProductSans', sans-serif;
    font-size: 17px;
    color: #23919b;
    text-align: center;
    margin-bottom: 3%;
}
.img-contacto{
    margin-left: 28%;
}
/*----FORMULARIO----*/
#borde-form{
    border-left: 2px solid #50c4ce;
    margin-top: 9%;
    margin-bottom: 7%;
}
#cont-formulario{
    width: 60%;
    margin: auto;
}
.form-control{
    font-size: 18px!important;
    margin-bottom: 16px!important;
}
label{
    font-size: 18px;
}
input{
    height: 50px;
    border-radius: 0px!important;
    border-left: 3px solid #00afb5;
}
input::placeholder, textarea::placeholder{
    font-family: 'ProductSans', sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #cacad5;
}
textarea{
    height: 225px!important;
    border-left: 3px solid #00afb5;
 }
 .btn-info{
    width: 100%;
    height: 60px;
    background-color: #00afb5!important;
    padding: 1% 2%!important;
    border: solid 1px #00afb5!important;
    border-radius: 0px!important;
    font-family: 'ProductSans', sans-serif;
    font-size: 20px!important;
    font-weight: bolder!important;
    color: #ffffff;
 }
 .btn-info:hover {
    color: #00afb5!important;
    background-color: #ffffff!important;
}


/*Contenido del bloque 7 */
.cont-aplicaciones{
	background-color: #ffffff;
	height: auto;
	padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.title-aplic{
	font-family: 'ProductSans', sans-serif;
	font-size: 40px;
    color: #23919b;
    font-weight: 500;
    letter-spacing: 0.7px;
	text-align: center;
}
#cont-app{
	display:flex;
	margin-top: 3%;
}
.cont-app{
	width: 50%;
	margin: 0% 0.5%;
}
.img-lefts{
    float: right;
    display: none;
}
.img-rights{
	float: left;
}


/*Contenido del bloque 8 */
.cont-copyright{
    background-color: #4a4a4a;
}
#cont-copyright{
    padding-top: 2%;
    padding-bottom: 1%;
}
.title-copyright{
    font-family: 'ProductSans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2.7px;
    text-align: center;
}

/*----------RESPONSIVE----------*/
/*----------RESPONSIVE----------*/
/*----------RESPONSIVE----------*/

@media screen and (max-width: 1900px){
    #home{
        margin-bottom: 40%;
    }
    .title-home{
        width: 35%;
    }
    #reparto-1{
        width: 48%;
    }
    #consulta-1{
        width: 45%;
    }
}


@media screen and (max-width: 1440px){
    #home{
        margin-bottom: 34%;
    }
    .title-home{
        width: 54%;
    }
    .title-1{
        font-size: 70px;
    }
    .title-2{
        font-size: 35px;
    }
    .entregamos-1{
        margin-left: 5%;
    }
    .title-entregamos{
        font-size: 48px;
    }
    #cont-descripcion{
        width: 76%;
    }
    .descrip-entregamos{
        font-size: 27px;
    }
    .entregamos-2{
        margin-top: 13%;
        margin-bottom: 13%;
    }
    .img-entregamos{
        width: 462px;
    }
    .cont-pedidos{
        padding-top: 3%;
        padding-bottom: 7%;
    }
    .title-pedidos{
        font-size: 55px;
    }
    #cont-pedidos{
        width: 86%;
    }
    .descrip-pedidos{
        font-size: 27px;
    }
    #cont-imagenes{
        width: 95%;
    }
    .title-img{
        font-size: 32px;
    }
    .img-pagos{
        width: 615px;
    }
    .title-pagos{
        font-size: 55px;
    }
    #cont-pagos{
        width: 92%;
    }
    .descrip-pagos{
        font-size: 27px;
    }
    #reparto-1{
        width: 77%;
        margin-top: 7%;
    }
    .title-reparto{
        font-size: 54px;
    }
    #reparto-2{
        width: 89%;
    }
    .descrip-reparto{
        font-size: 27px;
    }
    #consulta-1{
        width: 82%;
    }
    .title-consultas{
        font-size: 50px;
    }
    .contacto, .correo, .numbers{
        font-size: 25px;
    }

    #cont-formulario{
        width: 70%;
        padding-left: 10%;
    }
    input{
        height: 62px;
    }
    textarea{
        height: 270px!important;
    }
    .cont-aplicaciones{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .title-aplic{
        font-size: 48px;
    }
    .title-copyright{
        font-size: 20px;
    }
}

    @media screen and (max-width: 1427px){
        .title-home{ width: 55%; }
    }
    @media screen and (max-width: 1402px){
        .title-home{ width: 56%; }
    }
    @media screen and (max-width: 1392px){
        .title-entregamos{ font-size: 47px; }
        #reparto-1{width: 79%; }
        #consulta-1 { width: 84%; }
    }
    @media screen and (max-width: 1395px){
        #reparto-1{width: 78%; }
        #consulta-1 { width: 83%; }
    }
    @media screen and (max-width: 1381px){
        #reparto-1{width: 79%; }
    }
    @media screen and (max-width: 1377px){
        .title-home{ width: 57%; }
        #consulta-1 { width: 84%; }
    }

@media screen and (max-width: 1366px){
    #home{
        margin-bottom: 33%;
    }
    .title-home{
        width: 54%;
    }
    .title-1{
        font-size: 60px;
    }
    .title-2{
        font-size: 30px;
    }
    .entregamos-1{
        margin-left: 10%;
    }
    .title-entregamos{
        font-size: 40px;
    }
    #cont-descripcion{
        width: 66%;
    }
    .descrip-entregamos{
        font-size: 17px;
    }
    .entregamos-2{
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .img-entregamos{
        width: 376px;
    }
    .cont-pedidos{
        padding-top: 2%;
        padding-bottom: 5%;
    }
    .title-pedidos{
        font-size: 40px;
    }
    #cont-pedidos{
        width: 74%;
    }
    .descrip-pedidos{
        font-size: 17px;
    }
    #cont-imagenes{
        width: 80%;
    }
    .title-img{
        font-size: 25px;
    }
    .img-pagos{
        width: 400px;
    }
    .title-pagos{
        font-size: 40px;
    }
    #cont-pagos{
        width: 78%;
    }
    .descrip-pagos{
        font-size: 17px;
    }
    #reparto-1{
        width: 68%;
        margin-top: 0%;
    }
    .title-reparto{
        font-size: 45px;
    }
    #reparto-2{
        width: 81%;
    }
    .descrip-reparto{
        font-size: 17px;
    }
    #consulta-1{
        width: 60%;
    }
    .title-consultas{
        font-size: 35px;
    }
    .contacto, .correo, .numbers{
        font-size: 17px;
    }

    #cont-formulario{
        width: 60%;
        padding-left: 0%;
    }
    input{
        height: 50px;
    }
    textarea{
        height: 225px!important;
    }
    .cont-aplicaciones{
        padding-bottom: 4%;
    }
    .title-aplic{
        font-size: 40px;
    }
    .title-copyright{
        font-size: 16px;
    }
}

    @media screen and (max-width: 1339px){
        #reparto-1{width: 69%; }
    }
    @media screen and (max-width: 1337px){
        #consulta-1 { width: 61%; }
    }
    @media screen and (max-width: 1320px){
        #reparto-1{width: 70%; }
    }
    @media screen and (max-width: 1316px){
        #consulta-1 { width: 62%; }
    }
    @media screen and (max-width: 1302px){
        #reparto-1{width: 71%; }
    }
    @media screen and (max-width: 1296px){
        #consulta-1 { width: 63%; }
    }
    @media screen and (max-width: 1285px){
        #reparto-1{width: 72%; }
    }
    @media screen and (max-width: 1276px){
        #consulta-1 { width: 64%; }
    }
    @media screen and (max-width: 1268px){
        #reparto-1{width: 73%; }
    }
    @media screen and (max-width: 1257px){
        #consulta-1 { width: 65%; }
    }
    @media screen and (max-width: 1251px){
        #reparto-1{width: 74%; }
    }
    @media screen and (max-width: 1244px){
        .title-entregamos{ font-size: 39px; }
    }
    @media screen and (max-width: 1239px){
        #home{ margin-bottom: 31%;}
        .title-home{ width: 55%; }
        #consulta-1 { width: 66%; }
    }
    @media screen and (max-width: 1235px){
        #reparto-1{width: 75%; }
    }
    @media screen and (max-width: 1221px){
        #consulta-1 { width: 67%; }
    }
    @media screen and (max-width: 1219px){
        #reparto-1{width: 76%; }
    }
    @media screen and (max-width: 1217px){
        .title-home{ width: 56%; }
    }
    @media screen and (max-width: 1204px){
        #reparto-1{width: 77%; }
        #consulta-1 { width: 68%; }
    }


@media screen and (max-width: 1200px){
    #home{
        margin-bottom: 30%;
    }
    .title-home{
        width: 56%;
    }
    .entregamos-1{
        margin-left: 5%;
    }
    .title-entregamos{
        font-size: 35px;
    }
    #cont-imagenes{
        width: 88%;
    }
    .imagenes{
        Width: 19%;
    }
    .title-img{
        font-size: 23px;
    }
    .img-pagos{
        width: 415px;
    }
    #reparto-1{
        margin-top: 3%;
    }
    .title-reparto{
        font-size: 39px;
    }
    #reparto-2{
        width: 85%;
    }
    #consulta-1{
        width: 68%;
    }
    .img-contacto{
        margin-left: 25%;
    }
    #cont-formulario{
        width: 65%;
        padding-left: 0%;
    }
    .title-copyright{
        font-size: 14px;
    }
}

    @media screen and (max-width: 1199px){
        #reparto-1{width: 68%; }
    }
    @media screen and (max-width: 1196px){
        .title-home{ width: 57%;}
    }
    @media screen and (max-width: 1187px){
        #consulta-1 { width: 69%; }
    }
    @media screen and (max-width: 1181px){
        #reparto-1{width: 69%; }
    }
    
    

@media screen and (max-width: 1024px){
    #home{
        margin-bottom: 29%;
    }
    .title-home{
        padding-top: 2%;
    }
    .title-1{
        font-size: 45px;
        line-height: 63px;
    }
    #cont-descripcion{
        width: 80%;
    }
    .title-entregamos{
        font-size: 34px;
    }
    .entregamos-2{
        margin-top: 7%;
        margin-bottom: 7%;
    }
    #cont-imagenes{
        width: 93%;
    }
    .imagenes{
        Width: 18%;
    }
    .pagos{
        margin-top: 6%;
    }
    #cont-pagos{
        width: 90%;
    }
    #reparto-1{
        width: 80%;
        margin-top: 6%;
    }
    #reparto-2{
        width: 90%;
    }
    #consulta-1{
        width: 80%;
    }
    .img-contacto{
        margin-left: 21%;
    }
    #cont-formulario{
        width: 75%;
    }
}


@media screen and (max-width: 925px){
    #home{
        margin-bottom: 30%;
    }
    .title-home{
        padding-top: 0%;
    }
    .title-entregamos{
        font-size: 30px;
    }
    #cont-descripcion{
        width: 86%;
    }
    .entregamos-2{
        margin-top: 11%;
        margin-bottom: 11%;
    }
    .cont-pedidos{
        padding-top: 5%;
    }
    #cont-imagenes{
        width: 100%;
        display: table;
        margin-bottom: 7%;
    }
    .imagenes{
        width: 50%;
        height: 240px;
        display: inline-table;
    }
    .Imagenes{
        width: 100%;
    }
    .img-enviar{
        margin-top: -9%;
    }
    .img-comida{
        margin-top: -9%;
    }
    .img-mercado{
        margin-top: -8%;
    }
    .img-regalo{
        margin-top: -8%;
    }
    .img-bebida{
        margin-top: -11%;
    }

    .img-pagos{
        width: 425px;
    }
    #reparto-1{
        margin-top: 8%;
    }
    .title-reparto{
        font-size: 35px;
    }
    .title-consultas{
        font-size: 31px;
    }
    .img-contacto{
        margin-left: 18%;
    }
    .title-aplic{
        font-size: 37px;
    }
}


@media screen and (max-width: 768px){
    #home{
        margin-bottom: 22%;
    }
    .title-home{
        width: 70%;
        padding-top: 2%;
    }
    .title-1{
        font-size: 42px;
        line-height: 57px;
    }
    .title-2{
        font-size: 25px;
    }
    .title-entregamos{
        font-size: 24px;
    }
    #cont-descripcion{
        width: 100%;
    }
    .descrip-entregamos{
        font-size: 16px;
    }
    .entregamos-2{
        margin-top: 23%;
    }
    .img-pagos{
        margin-top: 12%;
    }
    .pagos{
        margin-top: 10%;
        margin-bottom: 7%;
    }
    .title-pagos{
        font-size: 35px;
    }
    .descrip-pagos{
        font-size: 16px;
    }
    #reparto-1{
        margin-top: 13%;
    }
    .title-reparto{
        font-size: 28px;
    }
    .descrip-reparto{
        font-size: 16px;
    }
    .title-consultas{
        font-size: 25px;
    }
    .contacto, .correo, .numbers{
        font-size: 15px;
    }
    .img-contacto{
        margin-left: 10%;
    }
    .title-aplic{
        font-size: 30px;
    }
    .title-copyright{
        font-size: 11px;
    }
}


@media screen and (max-width: 620px){
    .cont-pedidos{
        padding-top: 12%;
    }
    #cont-imagenes{
        display: block;
        margin-bottom: 40%;
    }
    .imagenes{
        display: inline-block;
        width: 100%;
        height: 320px;
        float: none;
    }
    .title-img{
        font-size: 33px;
    }
    .img-enviar{
        width: 50%;
        margin-top: -10%;
    }
    .img-comida{
        width: 50%;
        margin-top: -10%;
    }
    .img-mercado{
        width: 36%;
        margin-top: -12%;
    }
    .img-regalo{
        width: 35%;
        margin-top: -10%;
    }
    .img-bebida{
        width: 35%;
        margin-top: -10%;
    }
}
@media screen and (max-width: 600px){
    #home{
        margin-bottom: 21%;
    }
    .title-home{
        width: 68%;
        padding-top: 1%;
    }
    .title-1{
        font-size: 30px;
        line-height: 40px;
    }
    .title-2{
        font-size: 19px;
    }
    .entregamos-1{
        margin-left: 0%;
        width: 90%;
        margin: auto;
    }
    .title-entregamos{
        font-size: 34px;
        text-align: center;
    }
    .descrip-entregamos{
        font-size: 17px;
    }
    .entregamos-2{
        margin-top: 4%;
        margin-bottom: 0%;
    }
    .img-entregamos{
        width: 225px;
    }




    .title-pedidos{
        margin-bottom: 5%;
    }
    #cont-pedidos{
        width: 90%;
    }
    .descrip-pedidos{
        font-size: 17px;
    }






    .pagos{
        margin-top: 8%;
    }
    .title-pagos{
        font-size: 38px;
        text-align: center;
    }
    #cont-pagos{
        width: 90%;
        margin: auto;
    }
    .descrip-pagos{
        font-size: 17px;
    }
    .img-pagos{
        width: 280px;
        margin-top: -4%;
    }
    .cont-reparto{
        padding-bottom: 5%;
    }
    #reparto-1{
        margin-top: 0%;
        margin-bottom: 5%;
    }
    .title-reparto{
        font-size: 35px;
        text-align: center;
    }
    #reparto-2{
        width: 90%;
        margin: auto;
    }
    .descrip-reparto{
        font-size: 17px;
    }
    .title-consultas{
        font-size: 35px;
        text-align: center;
    }
    .contacto, .correo, .numbers{
        font-size: 17px;
    }
    .img-contacto{
        margin-left: 26%;
    }

    #borde-form{
        border-left: 0px solid #50c4ce;
    }
    

    .title-aplic{
        font-size: 24px;
    }
    #cont-copyright{
        width: 80%;
        margin: auto;
    }
}


@media screen and (max-width: 520px){
    #home{
        margin-bottom: 19%;
    }
    .title-home{
        width: 72%;
    }
    .title-2{
        margin-top: -3%;
        font-size: 17px;
    }
    .img-entregamos{
        width: 210px;
    }
    .imagenes{
        height: 305px;
    }
    .img-pagos{
        width: 230px;
    }
    .img-contacto{
        margin-left: 21%;
    }
}


@media screen and (max-width: 480px){
    #home{
        margin-bottom: 21%;
    }
    .title-home{
        width: 78%;
    }
    .title-1{
        line-height: 37px;
    }
    .title-2{
        margin-bottom: 1%;
    }
    #cont-apps{
        width: 200px;
        margin: auto;
    }
    .entregamos-1{
        width: 95%;
    }
    .img-entregamos{
        width: 170px;
    }
    #cont-pedidos{
            width: 95%;
    }
    .imagenes{
        height: 305px;
    }
    #consulta-1{
        width: 95%;
    }
    #cont-pagos{
        width: 95%;
    }
    .img-pagos{
        width: 180px;
    }
    #reparto-2{
        width: 95%;
    }
    .img-contacto{
        margin-left: 24%;
        width: 180px;
    }
}


@media screen and (max-width: 425px){
    #home{
        margin-bottom: 20%;
    }
    .title-home{
        width: 90%;
    }
    .title-1{
        line-height: 35px;
    }
    .title-2{
        margin-top: -5%;
        font-size: 14px;
        margin-bottom: 1%;
    }
    #cont-apps{
        width: 175px;
    }
    .title-entregamos{
        font-size: 29px;
    }
    .imagenes{
        height: 255px;
    }
    .title-pagos{
        font-size: 35px;
    }
    .title-reparto{
        font-size: 30px;
    }
    #consulta-1{
        width: 90%;
    }
    .title-consultas{
        font-size: 32px;
    }
    .img-contacto{
        margin-left: 21%;
    }
    .title-aplic{
        font-size: 22px;
    }
    #cont-copyright{
        width: 85%;
    }
}


@media screen and (max-width: 375px){
    #home{
        margin-bottom: 21%;
    }
    .title-1{
        font-size: 25px;
        line-height: 29px;
    }
    .title-2{
        margin-top: -6%;
        font-size: 13px;
        margin-bottom: 0%;
    }
    #cont-apps{
        width: 165px;
    }
    .title-entregamos{
        font-size: 25px;
    }
    .title-pedidos{
        font-size: 35px;
    }
    .title-pagos{
        font-size: 30px;
    }
    .title-img{
        font-size: 23px;
    }
    .imagenes{
        height: 215px;
    }
    .title-reparto{
        font-size: 27px;
    }
    .title-consultas{
        font-size: 28px;
    }
    .img-contacto{
        margin-left: 18%;
    }
    #cont-formulario{
        width: 80%;
    }
    .title-copyright{
        font-size: 9px;
    }
}

    @media screen and (max-width: 372px){
        #reparto-1{width: 81%; }
    }
    @media screen and (max-width: 370px){
        #consulta-1 { width: 91%; }
    }
    @media screen and (max-width: 368px){
        #reparto-1{width: 82%; }
    }
    @media screen and (max-width: 366px){
        #consulta-1 { width: 92%; }
    }
    @media screen and (max-width: 363px){
        #consulta-1 { width: 93%; }
    }
    @media screen and (max-width: 361px){
        #home{ margin-bottom: 19%; }
        .title-home{ width: 91%; }
        #reparto-1{width: 83%; }
    }
    @media screen and (max-width: 359px){
        #consulta-1 { width: 94%; }
    }
    @media screen and (max-width: 357px){
        .title-home{ width: 92%; }
    }
    @media screen and (max-width: 356px){
        #reparto-1{width: 85%; }
        #consulta-1 { width: 95%; }
    }
    @media screen and (max-width: 353px){
        #home{ margin-bottom: 18%; }
        .title-home{ width: 93%; }
    }
    @media screen and (max-width: 352px){
        #reparto-1{width: 87%; }
        #consulta-1 { width: 96%; }
    }
    @media screen and (max-width: 350px){
        #home{ margin-bottom: 18%; }
        .title-home{ width: 94%; }
    }
    @media screen and (max-width: 349px){
        #consulta-1 { width: 97%; }
    }
    @media screen and (max-width: 346px){
        #home{ margin-bottom: 17%; }
        .title-home{ width: 95%; }
        #consulta-1 { width: 98%; }
    }





@media screen and (max-width: 320px){
    #home{
        margin-bottom: 24%;
    }
    .title-home{
        width: 95%;
        padding-top: 0%;
    }
    .title-1{
        font-size: 22px;
        line-height: 26px;
    }
    #cont-apps{
        width: 100px;
    }
    .title-entregamos{
        margin-bottom: 10%;
    }
    .title-pedidos{
        font-size: 33px;
    }
    #cont-imagenes{
        margin-bottom: 41%;
    }
    .imagenes{
        height: 195px;
    }
    #reparto-1{
        width: 95%;
    }
    #consulta-1{
        width: 95%;
    }
    .title-consultas{
        font-size: 25px;
    }
    .img-contacto{
        margin-left: 12%;
    }
    #cont-formulario{
        width: 90%;
    }
    .title-aplic{
        font-size: 20px;
    }
    #cont-copyright{
        width: 95%;
    }
    .title-copyright{
        font-size: 8px;
    }
}