<!-- Comienza el Navegador -->

  <div class="row cont-header">
    <nav class="navbar navbar-inverse">
      <div class="navegador">
        <!--movilll rersponsive-->
        <div class="movil">
        
          <a class="navbar-brand" href="">
            <img src="./assets/img/group-38.png" class="img-responsive img-logo" width="144">
          </a>
          
          <span class="menu" (click)="openNav()">&#9776; </span>

            <ul id="mySidenav" class="sidenav nav " >
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
              <li><a href="">Descripción</a></li>
              <li><a href="">Pedidos</a></li>
              <li><a href="">Pago</a></li>
              <li><a href="">Reparto</a></li>
              <li><a href="">Consultas o Sugerencias</a></li>
              <li><a href="">Descarga</a></li>
            </ul>
        </div>
        <!--fin movil-->

        <!-- pc-->
        <div class="pc">
          
          <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img src="./assets/img/group-38.png" class="img-responsive img-logo" width="230">
            </a>
          </div>

            <ul class="nav navbar-nav">
              <li><a href="">Descripción</a></li>
              <li><a href="">Pedidos</a></li>
              <li><a href="">Pago</a></li>
              <li><a href="">Reparto</a></li>
              <li><a href="">Consultas o Sugerencias</a></li>
              <li><a href="">Descarga</a></li>
            </ul>
        </div>
        <!--fin pc-->

      </div>
    </nav>
  </div>
