.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px!important;
  margin-left: 50px;
}
.sidenav{
  background-color: #00afb5!important;
  text-align: center;
}
.sidenav a{
  color: #ffffff;
  font-size: 17px!important;
  font-weight: 600;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color: #3fd8dd!important;
  cursor: pointer!important;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #3fd8dd!important;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/**********************************/
/*Contenido del HEADER*/
.cont-header{
  margin-bottom: -2%;
  cursor: pointer;
}
.navegador{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.pc{
  justify-content: space-between;
  display: flex;
}
.navbar-brand {
  margin: -28px 15px!important;
}
.navbar-nav{
  position: relative;
  right: 14%;
}
.navbar-inverse{
  background: #ffffff;
  border:none!important;
  padding-top: 1%;
  padding-bottom: 0.9%;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 17px;
	font-family: 'ProductSans', sans-serif;
	font-weight: 300;
  color: #23919b!important;
  letter-spacing: 0.7px;
}
.menu{
  font-size:30px;
  cursor:pointer!important; 
  float:right;
}
 
  /*Termina el contenido del HEADER*/
nav .movil{
  display: none;
}
  /*Termina el contenido del HEADER*/
@media  screen and (max-width : 1440px) {
  .navbar-brand{
    margin: -29px 15px!important;
  }
}
@media  screen and (max-width : 1366px) {
  .navbar-brand{
    margin: -28px 15px!important;
  }
}
@media  screen and (max-width : 1200px) {
  .navbar-nav{
    position: relative;
    right: 7%;
  }
  .navbar-brand{
    margin: -27px 15px!important;
}
}
@media  screen and (max-width : 1125px) {
  .navbar-nav{
    right: 5%;
  }
} 
@media  screen and (max-width : 1070px) {
  .navbar-nav{
    right: 1.5%;
  }
}
@media  screen and (max-width : 1025px) {
  .nav>li>a {
    padding: 15px 10px;
  }
  .navbar-brand {
    margin: -25px 15px!important;
  }
}

@media  screen and (max-width : 925px) {
  .navbar-inverse .navbar-nav > li> a{
    font-size: 15px;
  }
  .navbar-brand {
    margin: -24px 15px!important;
  }
  .cont-header{
    margin-bottom: -3%!important;
  }
  .img-logo{
    width: 180px;
  }
}
@media  screen and (max-width : 921px) {
  .navbar-inverse .navbar-nav > li> a{
    font-size: 15px;
  }
}
@media  screen and (max-width : 850px) {
  .navbar-inverse .navbar-nav > li> a{
    font-size: 14px;
  }
  .navbar-nav {
    right: 3%;
  }
}

/* Desktops and laptops ----------- */
@media  screen and (max-width : 768px) {
  nav .movil{
    display: block;
  }
  nav .pc{
    display: none;
  }
  .sidenav {
    padding-top: 45px;
  }
  .navbar-inverse{
    padding-bottom: 1%;
  }
  .menu{
    margin-top: 1%;
    margin-right: 2%;
  }
  .navbar-brand{
    margin: -23px 15px!important;
  }
  .img-logo{
    width: 153px;
}
}


@media  screen and (max-width : 600px){
  .cont-header{
    margin-bottom: -4%!important;
  }
  .navbar-brand{
    margin: -21px 15px!important;
  }
  .img-logo{
    width: 135px;
  }
}
@media  screen and (max-width : 525px){
  .cont-header{
    margin-bottom: -5%!important;
  }
  .navbar-brand{
    margin: -20px 15px!important;
  }
  .img-logo{
    width: 115px;
  }
}


@media  screen and (max-width : 525px){
  .img-logo{
    width: 110px;
  }
}


@media  screen and (max-width : 450px){
  .cont-header{
    margin-bottom: -5%!important;
  }
}

@media  screen and (max-width : 425px){
  .cont-header{
    margin-bottom: -6%!important;
  }
  .navbar-brand{
    margin: -19px 15px!important;
  }
}

@media  screen and (max-width : 375px){
  .cont-header{
    margin-bottom: -6%!important;
  }
  .navbar-brand{
    margin: -19px 15px!important;
  }
  .img-logo{
    width: 95px;
  }
}

@media  screen and (max-width : 320px){
  .cont-header{
    margin-bottom: -7%!important;
  }
  .navbar-brand{
    margin: -18px 15px!important;
  }
  .img-logo{
    width: 80px;
  }
}
  
